/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

.bg_image{
    /* height: 100%;
    width: 100%; */
    background: url(/assets/resources/loginbackground.jpg);
    /* background-size:cover; */
    background-repeat:no-repeat;
    background-position: center center;
    height: 627px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 2%;
    padding-bottom: 2%;
    max-width: 100%;
   
  
}